



#for the rumsan reward app
NEXT_PUBLIC_APPREGISTRY=
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_RAHAT_TOKEN=

NEXT_PUBLIC_SUBGRAPH_URL=
NEXT_PUBLIC_SUPER_ADMIN_ROLE=
NEXT_PUBLIC_ENTITY_OWNER_ROLE=
NEXT_PUBLIC_PARTICIPANT_ROLE=
NEXT_PUBLIC_MINTER_ROLE=
NEXT_PUBLIC_DEFAULT_ADMIN_ROLE=
NEXT_PUBLIC_ADMIN_ADDRESS=