# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.env.*
!.env.example

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
output/
build
dist
tsconfig.tsbuildinfo
*.tsbuildinfo

# Hardhat files
cache
artifacts

# TypeScript
typechain
typechain-types

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output
coverage.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


tools/local-setup/data
apps/subgraph/node_modules/

#Sample Data
apps/web/sampleData.ts

#typechain
packages/contracts/typechain-types/*
packages/contracts/typechain-types/**/*



# Wallets file (contains sensitive information)

tools/deploy/deployments/wallets.ts


.qodo
