{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "bracketSpacing": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ],
  "plugins": ["prettier-plugin-solidity"]
}
